@charset "utf-8";

html {
	height: 100%;
}


body
{
	margin: 0;
	padding: 0;
	height:100%;
	background-image:url(stripe.png);
	background-repeat:repeat;
	background-color:#BA5533;
}

ul
{
	list-style-type:none;
	display:block;
	position:absolute;
	left:50%;
	top:130px;
	margin-left:-180px;
	padding:0;
	overflow:hidden;
}

li
{
	float:left;
	display:inline;
}

a:link,a:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(buttonimage.bmp);
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover,a:active
{
	background-image:url(buttonimagedown.jpg);
}

#banner
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#text
{
	display: block;
   	margin-left: auto;
    	margin-right: auto;
	width:614px;
	height:100%;
	background-color:#Bada55;
	padding:10px;
	border:1px solid #ffcc00;
}
