<hr>
<h3><TMPL_VAR NAME=GAME_NAME></h3>
<a href="<TMPL_VAR NAME=URL>"><img src="<TMPL_VAR NAME=GAME_IMAGE_SRC>" alt="<TMPL_VAR NAME=GAME_NAME>"></a>
<p>
<TMPL_VAR NAME=GAME_DESC>
<p>
Views: <TMPL_VAR NAME=NUM_VIEWS>
