<h2><TMPL_VAR NAME=GAME_NAME></h2>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"

    <PARAM NAME="MOVIE" VALUE="<TMPL_VAR NAME=GAME_SWF>"
    WIDTH="<TMPL_VAR NAME=GAME_WIDTH>" HEIGHT="<TMPL_VAR NAME=GAME_HEIGHT>">
    <EMBED SRC="<TMPL_VAR NAME=GAME_SWF>" WIDTH="<TMPL_VAR NAME=GAME_WIDTH>" HEIGHT="<TMPL_VAR NAME=GAME_HEIGHT>"
        
    </EMBED>
</OBJECT>
<p>
<TMPL_VAR NAME=GAME_DESC>
<p>
Views: <TMPL_VAR NAME=NUM_VIEWS>
